{% extends 'base.html' %}

{% block title %}Search{% endblock %}
{% block content %}

<style>
    #multiple_select {
        height: 70px;
        overflow-y: scroll;
    }

</style>
<style>
    input.select_user {
        width: 20px;
        height: 20px;

    }

</style>

<br>
<div>
    <form action="{% url 'search' %}" name="search" method="POST">
        {% csrf_token %}
        <div style="height:fit-content;">
            <div class="row">
                <div class="col-3">
                    <!-- Blood Group -->
                    {{form.blood_groups.label_tag}}
                    <div id="multiple_select" class="border border-3">
                        {{form.blood_groups}}
                    </div>
                </div>
                <div class="col-2">
                    Unit Blood
                    {{form.total_unit.label_tag}}
                    {{form.total_unit}}
                </div>
                <div class="col-3">
                    <!-- Pincode Area -->
                    {{form.pincode.label_tag}} <br>
                    {{form.pincode}}
                </div>
                <div class="col-2">
                    <!--  Till Date -->
                    {{form.till_date.label_tag}} <br>
                    {{form.till_date}}
                </div>
                <div class="col-2">
                    <br>
                    <button class="btn btn-outline-info" type="submit"> Search Donner</button>
                    <button id="inv-btn" style="display: none" class="btn btn-success mt-3" type="submit"> Send Invitation</button>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<table class="table table-bordered">
    <thead>
        <tr class="thead-dark">
            <th scope="col">Name</th>
            <th scope="col">Contact_no</th>
            <th scope="col">Last_donated_date</th>
            <th scope="col">Bloodgroup</th>
            <th scope="col">Select All <input onclick="selectAll()" id="select_all_donner" type="checkbox"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.user}} </td>
            <td>{{user.contact_no}}</td>
            <td>{{user.last_donated_date}}</td>
            <td>{{user.blood_group}}</td>
            <td><input type="checkbox" class="select_user"></td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<script>
    function selectAll() {
        /*
            This function handels the select all feature to send invite to donate blood.
        */
        isCheck = $(`#select_all_donner`).prop("checked");
        
        if (isCheck) {
            $(`.select_user`).prop('checked', true);
            

        } else {
            $(`.select_user`).prop('checked', false);
        }
    }

    $(document).ready(function () {
        // When page completly loads 

        $(`.select_user`).click(function () {
            /*
                This function used to update `select_all` status
            */
            console.log("sel", $(`.select_user`).length, $(`.select_user:checked`).length)
            if ($(`.select_user`).length == $(`.select_user:checked`).length) {
                $(`#select_all_donner`).prop('checked', true);
            } else {
                $(`#select_all_donner`).prop('checked', false);
            }

            // show send-invitation button
            if ($(`.select_user`).length >= 1) {
                $(`#inv-btn`).toggle()
            } else {
                $(`#inv-btn`).toggle()
            }

        });
    });

    $(document).ready(function () {
        $('#inv-btn').click(function(){
            $("input[type=checkbox]:checked").each(function (){ 
                console.log($(`#select_all_donner`).val() + " is checked");


        });
    });
});
</script>

{% endblock %}
