{% extends 'base.html' %}

{% block title %}Search{% endblock %}
{% block content %}

<style>
    #multiple_select {
        height: 70px;
        overflow-y: scroll;
    }

</style>
<style>
    input.select_user {
        width: 20px;
        height: 20px;

    }

</style>

<br>
<div>
    <form id="form_id" action="{% url 'search' %}" name="search" method="POST">
        {% csrf_token %}
        <div style="height:fit-content;">
            <div class="row">
                <div class="col-3">
                    <!-- Blood Group -->
                    {{form.blood_groups.label_tag}}
                    <div id="multiple_select" class="border border-3">
                        {{form.blood_groups}}
                    </div>
                </div>
                <div class="col-2">
                    Unit Blood
                    {{form.total_unit.label_tag}}
                    {{form.total_unit}}
                </div>
                <div class="col-3">
                    <!-- Pincode Area -->
                    {{form.pincode.label_tag}} <br>
                    {{form.pincode}}
                </div>
                <div class="col-2">
                    <!--  Till Date -->
                    {{form.till_date.label_tag}} <br>
                    {{form.till_date}}
                </div>
                <div class="col-2">
                    <br>
                    <button class="btn btn-outline-success" type="submit"> Search Donner</button>
                    <button id="inv-btn" onclick="sendInvitation()" style="display: none" class="btn btn-success mt-3" type="button"> Send Invitation</button>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<table class="table table-bordered">
    <thead>
        <tr class="thead-dark">
            <th scope="col">Name</th>
            <th scope="col">Contact_no</th>
            <th scope="col">Last_donated_date</th>
            <th scope="col">Bloodgroup</th>
            <th scope="col">Select All <input onclick="selectAll()" id="select_all_donner" type="checkbox"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.user}}</td>
            <td>{{user.contact_no}}</td>
            <td>{{user.last_donated_date}}</td>
            <td>{{user.blood_group}}</td>
            <td><input id="{{user.user.id}}" type="checkbox" name="select_name" class="select_user"></td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<script>
    function selectAll() {
        /*
            This function handels the select all feature to send invite to donate blood.
        */
        isCheck = $(`#select_all_donner`).prop("checked");

        if (isCheck) {
            $(`.select_user`).prop('checked', true);
        } else {
            $(`.select_user`).prop('checked', false);
        }
        // show send-invitation button
        if ($(`.select_user:checked`).length >= 1) {
            $(`#inv-btn`).prop('style', 'display:block')
        } else {
            $(`#inv-btn`).prop('style', 'display:none')
        }
    }

    function sendInvitation() {
        console.log("sendInvitation()")
        result = Object();
        $.each($('form').serializeArray(), function () {
            if (this.name == 'blood_groups') {
                if (!(this.name in result)) {
                    result[this.name] = Array()
                }
                result[this.name].push(this.value)
            } else {
                result[this.name] = this.value
            }
        })

        console.log("body : ", result)

        var id_data = [];
        $('.select_user:checked').each(function () {
            id_data.push($(this).attr('id'))
        })
        console.log(id_data)

        $.ajax({
            type: "POST",
            url: "{% url 'send_invitation' %}",
            data: {
                "formData": JSON.stringify(result),
                "selected_users": JSON.stringify(id_data),
            },
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            success: function (data) {
                alert(data['message'])
                window.location.href = data['url']
            }
        }, {});
        return false; //<---- move it here
    }











    $(document).ready(function () {
        // When page completly loads 

        $(`.select_user`).click(function () {
            /*
                This function used to update `select_all` status
            */
            console.log("sel", $(`.select_user`).length, $(`.select_user:checked`).length)
            if ($(`.select_user`).length == $(`.select_user:checked`).length) {
                $(`#select_all_donner`).prop('checked', true);
            } else {
                $(`#select_all_donner`).prop('checked', false);
            }

            // show send-invitation button
            if ($(`.select_user:checked`).length >= 1) {
                $(`#inv-btn`).prop('style', 'display:block')
            } else {
                $(`#inv-btn`).prop('style', 'display:none')
            }

        });

    });

</script>

{% endblock %}
