{% extends 'base.html' %}
{% load static %}
{% block title %}Search{% endblock %}

{% block content %}

<style>
#multiple_select
    {
        height: 20%;
        overflow-y: scroll;
    }
</style>

<br>
<div class="container">
<form action="{% url 'search' %}" name="search" method="POST">
    {% csrf_token %}
    <div class="row" style="max-height:100px">
        <div class="col-2">
            <!-- Blood Group -->
            {{form.blood_groups.label_tag}}
            <div id="multiple_select" class="border border-3">
                {{form.blood_groups}}
            </div>
        </div>
        <div class="col-2">
            <!-- Unit Blood -->
            {{form.total_unit.label_tag}}
            {{form.total_unit}}
        </div>
        <div class="col-3">
            <!-- Pincode Area -->
            {{form.pincode.label_tag}}
            {{form.pincode}}
        </div>
        <div class="col-3">
            <!-- Till Date -->
            {{form.till_date.label_tag}}
            {{form.till_date}}
        </div>
        <div class="col-2">
            <button class="btn btn-outline-info" type="submit"> Search Donner</button>
        </div>
    </div>
</form>


<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Contact_no</th>
            <th scope="col">Last_donated_date</th>
            <th scope="col">Bloodgroup</th>
            <th scope="col">Invite</th>
        </tr>
    </thead>
    <tbody>
        {% for query in form %}
        <tr>
            <td> {{query.user}} </td>
            <td>{{query.contact_no}}</td>
            <td>{{query.last_donated_date}}</td>
            <td>{{query.blood_group}}</td>
            <td><button type="button" class="btn btn-info">Invite</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

  
{% endblock %}



