<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Dear {{user}} ,</p>

    <p> We are happy to inform you that we are hosting a blood donation camp in our society,<br>
         and we will be very much obliged if you encourage our hard work through your glorious presence.</p>
        
        <button style= "background-color: #217c24;">Accept</button> 
        <button style = "background-color: #f10f0f;">Denied</button>
</body>
</html>